[submodule "external/v86"]
	path = external/v86
	url = https://github.com/Red60sapphire/v86
[submodule "external/native-file-system-adapter"]
	path = external/native-file-system-adapter
	url = https://github.com/Red60sapphire/native-file-system-adapter
[submodule "external/aethera"]
	path = external/aethera
	url = https://github.com/Red60sapphire/aethera
[submodule "external/red-browser.js"]
	path = external/red-browser.js
	url = https://github.com/Red60sapphire/red-browser.js
[submodule "x86_image_wizard/epoxy"]
	path = x86_image_wizard/epoxy
	url = https://github.com/Red60sapphire/proxypickle
