.hintrc
**/.DS_Store
*.log
rootfs
rootfs/*
node_modules
redx86.tar.gz
symlinks
build/images/
build/
dist/
bios/
apps/games.app
apps/libfileview.lib/icons/
bin/chimerix.ajs
libv86.js
v86.wasm
public/dist.js
v86timestamp
Notes
server/passkey
.direnv
result
red-types/
public/config.json
static/
x86_image_wizard/alpine/anura-run
x86_image_wizard/alpine/xfrog.sh
x86_image_wizard/alpine/xsetrandr.sh
x86_image_wizard/alpine/redmouse
x86_image_wizard/alpine/epoxy-server